.image-grid {
  text-align: center;

  .item {
    text-align: left;

    img {
      width: 100%;
      margin-bottom: .5em;
    }

    p {
      font-size: .8em;
      line-height: 1.5;
      text-align: left;
      margin-bottom: 3.5em;
    }
  }

  a.cta {
    color: $primary-color;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin: 2em 0 5em;
  }
}
