.product-grid {
  margin-bottom: 5em;

  h2 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2.5em;
  }

  .item {
    text-align: center;

    @media (min-width: 450px) and (max-width: 767px) {
      width: 50%;
      float: left;
    }

    a {
      color: $black;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;

      &:hover, &:active, &:focus {
        text-decoration: underline;
      }

      img {
        margin-bottom: .5em;
      }

      p {
        text-align: center;
      }
    }
  }
}
