.youtube {
  position: relative;

  .play-button {
    width: 21px;
    height: 24px;
    border: solid 2px $white;
    border-radius: 50%;
    padding: 2em;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    img {
      margin: auto;
      position: absolute;
      top: 0; left: 5px; bottom: 0; right: 0;
    }
  }
}
