// Grid Variables
$grid-columns: 12;

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

// Colors
$white: #ffffff;

// Font Family
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
